form {
  display: flex;
  flex-flow: column nowrap;
}

form label {
  background-color: var(--background-label);
  backdrop-filter: blur(2px);
  border-radius: 4px;
  padding: 8px 16px 8px 12px;
  display: flex;
  flex-flow: column nowrap;
}

form label input {
  font-size: 16px;
  line-height: 24px;
  box-shadow: 0;
  outline: 0;
  border: none;
  background-color: var(--background-label-input);
  color: white;
}

form span {
  font-size: 12px;
  line-height: 16px;
  color: white;
  opacity: 0.5;
  margin-bottom: 4px;
}

form .password-label {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 16px;
}

form .password-label .pass {
  display: flex;
  flex-flow: column nowrap;
}

form .password-label button {
  background-color: white;
  border-radius: 44px;
  color: var(--author-color-name);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 85px;
  margin: 4px 0;
}
