@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Roboto:wght@400;500;700&display=swap");

:root {
  --black-color: #333333;
  --author-color-name: #ab2680;
  --book-discription-color: #999999;
  --background-color: #e9e0e6;
  --background-label: #00000052;
  --background-label-input: #00000000;
}

* {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: var(--background-color);
}

h1 {
  color: var(--black-color);
  font-size: 14px;
  font-weight: 500;
}

h2 {
  color: var(--author-color-name);
  font-size: 12px;
}

p {
  color: var(--book-discription-color);
  font-size: 12px;
}
